[submodule "program/dmenu"]
	path = program/dmenu
	url = https://github.com/tw0ten/dmenu
[submodule "program/dwm"]
	path = program/dwm
	url = https://github.com/tw0ten/dwm
[submodule "program/mousikes"]
	path = program/mousikes
	url = https://github.com/tw0ten/mousikes
[submodule "program/slock"]
	path = program/slock
	url = https://github.com/tw0ten/slock
[submodule "program/st"]
	path = program/st
	url = https://github.com/tw0ten/st
[submodule "program/systat"]
	path = program/systat
	url = https://github.com/tw0ten/systat
