layout {
	background-color "#00000000"

	border {
		active-color "#ffffffa0"
		urgent-color "#40e0d0ff"
		inactive-color "#00000000"
	}

	focus-ring {
		active-color "#ffffffa0"
		urgent-color "#40e0d0ff"
		inactive-color "#00000000"
	}

	tab-indicator {
		active-color "#ffffffa0"
		urgent-color "#40e0d0ff"
		inactive-color "#000000ff"
	}

	insert-hint {
		color "#ffffff30"
	}
}

recent-windows {
	highlight {
		active-color "#ffffffa0"
		urgent-color "#40e0d0ff"
	}
}

overview {
	backdrop-color "#00000000"
}
