layout {
	empty-workspace-above-first

	struts {
		left 2
		right 2
	}

	gaps 2

	border {
		width 1
	}

	focus-ring { off; }

	tab-indicator {
		place-within-column
		width 2
		gap 2

		length total-proportion=1.0
	}
}

overview {
	zoom 0.5

	workspace-shadow { off; }
}

include "rules.kdl"

include "animations.kdl"
include "colors.kdl"

include "binds.kdl"

include "input.kdl"

include "env.kdl"
