gestures {
	hot-corners { off; }
}

input {
	keyboard {
		repeat-delay 200
		repeat-rate 20
	}

	touchpad {
		disabled-on-external-mouse
	}

	mouse {
		accel-profile "flat"
		accel-speed 0.0
	}
}

cursor {
	hide-after-inactive-ms 5000
}
