layer-rule {
	match namespace="^awww-daemon$"

	place-within-backdrop true
}

layer-rule {
	match namespace="^notifications$"

	block-out-from "screencast"
}


prefer-no-csd

window-rule {
	draw-border-with-background false
	geometry-corner-radius 8
	clip-to-geometry true
}

window-rule {
	match app-id="^com\\.obsproject\\.Studio$"

	block-out-from "screencast"
}

window-rule {
	match is-focused=false

	opacity 0.925
}

window-rule {
	match is-urgent=true

	focus-ring { on; }
}

window-rule {
	match is-window-cast-target=true

	focus-ring {
		on
		active-color "#ff0000ff"
		inactive-color "#ff0000ff"
	}
}
