layer-rule {
	match namespace="^awww-daemon$"

	place-within-backdrop true
}

layer-rule {
	match namespace="^notifications$"

	block-out-from "screencast"
}


window-rule {
	draw-border-with-background false
	geometry-corner-radius 8
	clip-to-geometry true
	opacity 0.95
}

window-rule {
	match is-floating=true

	opacity 0.75
}

window-rule {
	match is-focused=true

	opacity 1.0
}

window-rule {
	match is-floating=true is-focused=true

	opacity 0.9
}

window-rule {
	match is-urgent=true

	focus-ring { on; }
}

window-rule {
	match is-window-cast-target=true

	focus-ring {
		on
		active-color "#ff0000ff"
		inactive-color "#ff0000ff"
	}
}


window-rule {
	match app-id="^com\\.obsproject\\.Studio$"

	block-out-from "screencast"
}

window-rule {
	match app-id="^terminal\\.mini$"

	open-floating true
	default-floating-position x=0 y=0 relative-to="bottom"
	default-column-width { proportion 0.3; }
	default-window-height { proportion 0.25; }
}
