prefer-no-csd

layer-rule {
	match namespace="^swww-daemon$"
	place-within-backdrop true
}

layer-rule {
	match namespace="^notifications$"
	block-out-from "screencast"
}

window-rule {
	draw-border-with-background false
	geometry-corner-radius 0
	clip-to-geometry true
}

window-rule {
	match is-focused=false
	opacity 0.95
}
