window {
	background: transparent;
	color: #ffffff;

	font-family: 'JetBrains Mono';
	font-size: 14px;
}

.modules-right {
	background: #202020;

	border-radius: 14px;
	padding-left: 2px;
}

.module {
	padding: 0 4px;
}

#custom-userhost {
	background: #40e0d0;
	color: #202020;

	padding: 0 4px;
	border-radius: 14px;

	margin-left: 4px;
}

#battery,
#pulseaudio,
#backlight,
#custom-keyboard,
#network {
	color: #40e0d0;
}
