window {
	background: transparent;
	color: #ffffff;

	font-family: 'JetBrains Mono';
	font-size: 14px;
	padding: 0 2px;
}

.module {
	padding: 0 4px;
}

.modules-left,
.modules-right {
	margin: 0 8px;
}

.modules-left,
#custom-window,
.modules-right {
	background: #202020;

	border-radius: 14px;
}

#custom-window {
	background: #ffffff;
	color: #202020;
}

#battery,
#pulseaudio,
#backlight,
#network,
#custom-keyboard {
	color: #40e0d0;
}

#custom-userhost {
	background: #40e0d0;
	color: #202020;

	padding: 0 4px;
	border-radius: 14px;

	margin-left: 4px;
}
