hotkey-overlay {
	skip-at-startup
}

recent-windows {
	binds {
		mod+grave { next-window scope="workspace"; }
	}
}

binds {
	mod+escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	mod+shift+escape { quit skip-confirmation=true; }
	mod+shift+slash { show-hotkey-overlay; }


	mod+shift+q allow-inhibiting=false hotkey-overlay-title="lock" { spawn "~/.config/niri/bin/lock"; }

	mod+return { spawn "terminal"; }
	mod+shift+return { spawn "open" "."; }
	mod+ctrl+return { spawn "terminal" "--class" "terminal.mini"; }

	mod+x hotkey-overlay-title="run" { spawn "rofi" "-show" "drun"; }
	mod+shift+x hotkey-overlay-title="open" { spawn "smenu" "open"; }

	mod+z { spawn "smenu"; }
	mod+shift+z hotkey-overlay-title="keyboard" { spawn "smenu" "keyboard"; }

	mod+i { spawn "smenu" "notification"; }
	mod+shift+i { spawn "smenu" "notification" "open"; }
	mod+ctrl+i { spawn "smenu" "notification" "close"; }


	xf86audiomute { spawn "~/.config/niri/bin/volume"; }
	xf86audioraisevolume { spawn "~/.config/niri/bin/volume" "0.025+"; }
	xf86audiolowervolume { spawn "~/.config/niri/bin/volume" "0.025-"; }

	mod+q repeat=false { toggle-overview; }

	mod+shift+c repeat=false { close-window; }

	mod+t { toggle-column-tabbed-display; }

	mod+a { focus-column-left; }
	mod+ctrl+a { move-column-left; }
	mod+d { focus-column-right; }
	mod+ctrl+d { move-column-right; }

	mod+shift+a { focus-monitor-left; }
	mod+shift+d { focus-monitor-right; }

	mod+down { focus-window-down; }
	mod+ctrl+down { move-window-down; }
	mod+up { focus-window-up; }
	mod+ctrl+up { move-window-up; }

	mod+w { focus-workspace-up; }
	mod+shift+w { move-workspace-up; }
	mod+ctrl+w { move-column-to-workspace-up; }
	mod+s { focus-workspace-down; }
	mod+shift+s { move-workspace-down; }
	mod+ctrl+s { move-column-to-workspace-down; }

	mod+tab { focus-workspace-previous; }
	mod+c { focus-workspace 1; }
	mod+ctrl+c { move-column-to-workspace 1; }
	mod+1 { focus-workspace 2; }
	mod+2 { focus-workspace 3; }
	mod+3 { focus-workspace 4; }
	mod+4 { focus-workspace 5; }
	mod+5 { focus-workspace 6; }

	mod+bracketleft { consume-or-expel-window-left; }
	mod+bracketright { consume-or-expel-window-right; }

	mod+r { switch-preset-column-width; }
	mod+shift+r { switch-preset-window-height; }
	mod+ctrl+r { reset-window-height; }

	mod+f { maximize-column; }
	mod+ctrl+f { expand-column-to-available-width; }

	mod+shift+f { maximize-window-to-edges; }
	mod+ctrl+shift+f { fullscreen-window; }

	mod+g { center-column; }
	mod+ctrl+g { center-visible-columns; }

	mod+minus { set-column-width "-5%"; }
	mod+equal { set-column-width "+5%"; }
	mod+shift+minus { set-window-height "-5%"; }
	mod+shift+equal { set-window-height "+5%"; }

	mod+v { switch-focus-between-floating-and-tiling; }
	mod+shift+v { toggle-window-floating; }

	print { screenshot; }
	ctrl+print { screenshot-window; }
	shift+print { screenshot-screen; }
}
