layout {
	background-color "#00000000"

	border {
		active-color "#ffffffa0"
		urgent-color "#40e0d0f0"
		inactive-color "#00000000"
	}

	tab-indicator {
		active-color "#ffffffa0"
		urgent-color "#40e0d0f0"
		inactive-color "#000000f0"
	}

	insert-hint {
		color "#ffffff30"
	}
}

recent-windows {
	highlight {
		active-color "#ffffff00"
		urgent-color "#40e0d000"
	}
}

overview {
	backdrop-color "#00000000"
}
