layout {
	empty-workspace-above-first

	gaps 2

	struts {
		left 2
		right 2
		bottom -2
	}

	border {
		off
		width 2
	}

	focus-ring {
		width 1
	}

	tab-indicator {
		place-within-column
		width 2
		gap 1
	}
}

recent-windows {
	debounce-ms 0

	open-delay-ms 0

	highlight {
		padding 30
		corner-radius 10
	}
}

overview {
	workspace-shadow { off; }
}

include "rules.kdl"

include "animations.kdl"
include "colors.kdl"

include "binds.kdl"

include "input.kdl"

include "env.kdl"


workspace "co"
workspace "wa"
