* {
  all: unset;
}

.monospace {
  font-family: monospace;
}

.highlight {
  color: #40e0d0;
}

.dim {
  opacity: 0.5;
}

.background {
  padding: 0px 4px;
  background-color: #101010;
}

.bar {
  background-color: transparent;
  color: #ffffff;

  padding: 2px 4px;
  font-size: 12px;
}

.userathost {
  background-color: #40e0d0;
  color: #101010;
}
