* {
  all: unset;
}

.monospace {
  font-family: monospace;
}

.highlight {
  color: #40e0d0;
}

.dim {
  opacity: 0.5;
}

.background {
  background-color: #101010;
}

.indicator {
  background-color: #ff0000;
  margin-right: 6px;
  min-width: 2px;
}

button {
  padding: 2px;
}

button:hover {
  background-color: #ffffff;
  color: #101010;
}

.bar {
  background-color: transparent;
  color: #ffffff;

  padding: 2px 4px;
  font-size: 12px;
}

.userathost {
  background-color: #40e0d0;
  color: #101010;
}

.center {
  margin: 0 10px;
}

.spaced>* {
  padding: 0 6px;
}


scale trough {
  background-color: #ffffff;
  opacity: 0.5;
  min-width: 64px;
  margin-right: 4px;
}

scale trough highlight {
  background-color: #40e0d0;
  min-height: 3px;
}
